$vue-ui-white: #ffffff;
$vue-ui-black: #0b1015;


$vue-ui-grey-100: #cfd8dc;
$vue-ui-grey-200: #b0bec5;
$vue-ui-grey-300: #90a4ae;
$vue-ui-grey-400: #78909c;
$vue-ui-grey-500: #607d8b;
$vue-ui-grey-600: #546e7a;
$vue-ui-grey-700: #455a64;
$vue-ui-grey-800: #37474f;
$vue-ui-grey-900: #263238;
// $vue-ui-grey-900: #1d2935;
// $vue-ui-grey-800: #2c3e50;
// $vue-ui-grey-700: #3e5770;
// $vue-ui-grey-600: #4f6f7f;
// $vue-ui-grey-500: #809fae;
// $vue-ui-grey-400: #93b0be;
// $vue-ui-grey-300: #b6c6ce;
// $vue-ui-grey-200: #c8d3d9;
// $vue-ui-grey-100: #e0e5e7;

$vue-ui-primary-900: #034124;
$vue-ui-primary-800: #085e37;
$vue-ui-primary-700: #13794a;
$vue-ui-primary-600: #299f69;
$vue-ui-primary-500: #42b983;
$vue-ui-primary-400: #56cd96;
$vue-ui-primary-300: #89deb7;
$vue-ui-primary-200: #abeacd;
$vue-ui-primary-100: #e0f8ed;

$vue-ui-danger-900: #500000;
$vue-ui-danger-800: #850505;
$vue-ui-danger-700: #ac0d0d;
$vue-ui-danger-600: #cd1b1b;
$vue-ui-danger-500: #e83030;
$vue-ui-danger-400: #f44747;
$vue-ui-danger-300: #ff6565;
$vue-ui-danger-200: #ff9494;
$vue-ui-danger-100: #ffcaca;

$vue-ui-warning-900: #702200;
$vue-ui-warning-800: #943800;
$vue-ui-warning-700: #b54d01;
$vue-ui-warning-600: #c85900;
$vue-ui-warning-500: #ea6e00;
$vue-ui-warning-400: #ff8915;
$vue-ui-warning-300: #ffa733;
$vue-ui-warning-200: #ffc45e;
$vue-ui-warning-100: #ffe6b0;

$vue-ui-info-100: #b3e5fc;
$vue-ui-info-200: #81d4fa;
$vue-ui-info-300: #4fc3f7;
$vue-ui-info-400: #29b6f6;
$vue-ui-info-500: #03a9f4;
$vue-ui-info-600: #039be5;
$vue-ui-info-700: #0288d1;
$vue-ui-info-800: #0277bd;
$vue-ui-info-900: #01579b;
// $vue-ui-info-900: #004576;
// $vue-ui-info-800: #006294;
// $vue-ui-info-700: #007db1;
// $vue-ui-info-600: #0098c4;
// $vue-ui-info-500: #03c2e6;
// $vue-ui-info-400: #74e0ed;
// $vue-ui-info-300: #9ae6ef;
// $vue-ui-info-200: #bceef1;
// $vue-ui-info-100: #e3f5f6;


$vue-ui-color-light: #fff;
$vue-ui-color-neutral: #e4f5ef;
$vue-ui-color-dark: #2c3e50;
$vue-ui-color-dark-neutral: #4f6f7f;
$vue-ui-color-darker: #1d2935;
$vue-ui-color-almost-black: #0b1015;
$vue-ui-color-primary: #42b983;
$vue-ui-color-danger: #e83030;
$vue-ui-color-warning: #ea6e00;
$vue-ui-color-info: #03c2e6;
$vue-ui-color-success: #42b983;
